<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
	<link rel="stylesheet" href="/app/prd/styles/app.css">
</head>
<body>
	<div ng-controller="myController" class="search">
		<p><input type="text" ng-model="searchText"></p>
		<table border="0">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name</th>
					<th>Phone</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="f in friends | filter:search:value">
					<td>{{$index+1}}</td>
					<td>{{f.name}}</td>
					<td>{{f.phone}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script src="/app/libs/angular.min.js"></script>
	<script src="/app/libs/jquery.js"></script>
	<script src="/app/prd/scripts/app.js"></script>
</body>
</html>