<!doctype html>
<html lang="en" ng-app="myApp">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no,width=device-width">
	<link rel="stylesheet" href="/app/prd/styles/app.css">
</head>
<body>
	<div ng-controller="zController" class="search">
		<p>
			<input type="text" placeholder="search firstName" ng-model="firstName">
			<input type="text" placeholder="search lastName" ng-model="lastName">
		</p>
		<table border="0">
			<thead>
				<tr>
					<th ng-click="col='FirstName';desc=!desc">FirstName<span></span></th>
					<th ng-click="col='LastName';desc=!desc">LastName<span></th>
					<th ng-click="col='Salary';desc=!desc">Salary<span></th>
					<th ng-click="col='Birthday';desc=!desc">Birthday<span></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="m in messages | filter:searchFirst:value |  filter:searchLast:values | orderBy:col:desc">
					<td ng-bind="m.FirstName"></td>
					<td ng-bind="m.LastName"></td>
					<td ng-bind="m.Salary"></td>
					<td ng-bind="m.Birthday"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<script src="/app/libs/angular.min.js"></script>
	<script src="/app/libs/jquery.js"></script>
	<script src="/app/prd/scripts/app.js"></script>
</body>
</html>